<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <title>Feely - Visualize your feels</title>

    <link rel="stylesheet" href="/styles/style.min.css" />
</head>

<body>
    <%- body %>
</body>

</html>
